body {
    text-align: center;

  }
.container {
    max-width: 500px;
    margin: 0 auto;
}
  
.main {
}
ol li {
  /* max-width: 300px; */
  display:table; 
  /* background-color: #c127f0; */
  /* color: #fff;  */
  /* margin-left: 30px; */
  padding: 5px;

} 
ol li:hover {
    background-color:#c127f0;
    color: #fff;
}


h1 {
    color: rgb(18, 134, 243);
}

button {
    padding: 5px;
    margin-top: 20px;
}