body {
    text-align: center;
  }

.container {
    max-width: 500px;
    margin: 0 auto;
}
  
#question-area {
    max-width: 400px;
    margin: auto;
}

/* styling for the answer list to show a differnt background color */
ol li {
  display:table; 
  background-color: #c127f0;
  margin: 5px 5px 5px 30px;
  padding: 10px;
  color: #fff;
  border-radius: 10%;
}

/* styling for the answer list to show different background color on hover */
ol li:hover {
    background-color:#47035c;
}

h1 {
    color: rgb(18, 134, 243);
}

/* remove the bullets from the scores list */
ul {
    list-style-type: none;
}

button {
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}